# Ignore everything
**

# Include specific files
!LICENSE
!out/*.js
!images/tinygo-logo.png
!preview/webview.*
!preview/playground/LICENSE
!preview/playground/simulator.*
!preview/playground/parts/
!preview/playground/resources/
!preview/playground/worker/webworker.bundle.js
