html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
}
body:not(.vscode) {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#viewport {
    flex: 0 1 auto;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
body:not(.vscode) {
    background: black;
    color: white;
}
body:not(.running) #viewport {
    opacity: 0.5;
}

#viewport .pin {
    fill: #ab7d00;
}
#viewport .pin.hover {
    /* Must use !important here otherwise styles on an element (as is common in
     * SVGs created in Inkscape for example) won't be overridden.
     */
    fill: yellow !important;
}

#viewport .outline {
    fill: transparent;
    stroke: transparent;
    stroke-width: 1px;
    stroke-dasharray: 3 3;
}
#viewport .device-wrapper:hover > .outline {
    stroke: rgba(255, 255, 255, 0.5);
}
#viewport .device-wrapper.selected > .outline {
    stroke: rgba(255, 255, 255, 0.9);
}
#viewport .device-wrapper {
    filter: url(#device-shadow);
}

#viewport .pad > .pad-circle {
    fill: transparent;
}
#viewport .pad:hover > .pad-circle {
    fill: #8888;
}
#viewport .pad-text {
    fill: white;
    font-size: 16px;
}
#viewport .pad-text > rect {
    fill: #777d;
    rx: 4px;
}
#viewport .pad:not(:hover) + .pad-text {
    display: none;
}

#viewport .wire {
    stroke: green;
    stroke-width: 4px;
    stroke-linecap: round;
}
#viewport .wire:hover,
#viewport .wire.selected {
    stroke-width: 6px;
}
#viewport .wire.selected {
    filter: saturate(3);
}

.panel {
    flex: 1 0 auto;
    height: 40%;
    display: flex;
    flex-direction: column;
}
.panel:not(.enabled) {
    display: none;
}
.panel .topbar {
    padding: 0 8px;
    background: #252526;
    color: white;
}
body.vscode .panel .topbar {
    background: var(--vscode-sideBar-background);
    color: var(--vscode-sideBar-foreground);
}
.topbar h2 {
    font-size: 16px;
    display: inline-block;
    margin: 4px 0;
    margin-right: 12px;
}
.topbar .tab {
    display: inline-block;
    padding: 0 10px;
    margin-right: 1px;
    line-height: 35px;
    background: #2d2d2d;
    color: rgba(255, 255, 255, 0.5);
    outline: 0;
    text-decoration: none;
}
.topbar .tab.selected {
    background: #000;
    color: #fff;
}
body.vscode .topbar .tab {
    background: var(--vscode-tab-inactiveBackground);
    color: var(--vscode-tab-inactiveForeground);
}
body.vscode .topbar .tab.selected {
    background: var(--vscode-tab-activeBackground);
    color: var(--vscode-tab-activeForeground);
}

.panel .tabcontent {
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    padding: 8px 0;
}
.panel .tabcontent:not(.selected) {
    display: none !important;
}

#info-devices,
#info-properties {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-rows: min-content;
    column-gap: 8px;
    row-gap: 8px;
    padding: 8px;
}

.panel .pin {
    display: inline-block;
    background: #444;
    margin: 4px 0;
    padding: 4px;
    cursor: default;
}
.panel .pin-connection {
    padding: 0 8px;
}
.panel .pin-connection:hover {
    background: #fff4;
}
.panel .pin[data-mode="output"] {
    background: rgba(0, 0, 0, 0.4);
}
.panel .pin[data-mode="output"].output-high {
    background: rgba(255, 0, 0, 0.4);
}

#add-device {
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px 8px 0 0;
}
#add-device:not(:hover) {
    opacity: 0.5;
}

#add-device-dropdown {
    position: absolute;
    right: 8px;
    padding: 3px 0;
    color: #cccccc;
    background: #252526;
}
body.vscode #add-device-dropdown {
    color: var(--vscode-menu-foreground);
    background: var(--vscode-menu-background);
}
#add-device:not(:hover) > #add-device-dropdown {
    display: none;
}

#add-device-dropdown > .device {
    padding: 4px 20px;
    cursor: default;
}
#add-device-dropdown > .device:hover {
    color: #ffffff;
    background: #094771;
}
body.vscode #add-device-dropdown > .device:hover {
    color: var(--vscode-menu-selectionForeground);
    background: var(--vscode-menu-selectionBackground);
}

#add-device > button {
    background: #444;
    padding: 0;
    width: 32px;
    height: 32px;
    font-size: 20px;
    line-height: 1;
    font-family: inherit;
    color: inherit;
    border: 0;
}
