html {
    height: 100%;
}
body {
    height: 100%;
    padding: 0; /* disable default padding */
    display: flex;
    flex-direction: column;
}

.schematic {
    height: 100%;
    flex-grow: 1;
}

